body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.landing-page {
  background-image: url("./assets/nursery-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
  color: white;
}
